<%= render 'form', submit: 'Create' %>

<div class="container">
  <div class="action-row">
    <div class="action-field">
      <%= link_to 'Back', alarms_path, class: "back" %>
    </div>
  </div>
</div>